/* styles.css */
html, body {
  /* Hide the default cursor */
  cursor: none; 
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.custom-cursor {
  width: 15px; 
  height: 15px; 
  background-color: white; 
  border-radius: 50%; 
  position: absolute;
  pointer-events: none; 
  z-index: 9999; 
  display: none;
  transform: translate(-50%, -50%);
}
